/* All-Star badge */

.messageUserBlock a[href*="/lyndrek."].username:after,
.messageUserBlock a[href*="/alfadir."].username:after,
.messageUserBlock a[href*="/mithan."].username:after,
.messageUserBlock a[href*="/1212thedoctor."].username:after,
.messageUserBlock a[href*="/4exajohn."].username:after,
.messageUserBlock a[href*="/949paintball."].username:after,
.messageUserBlock a[href*="/acery."].username:after,
.messageUserBlock a[href*="/akagiyamamissile."].username:after,
.messageUserBlock a[href*="/amaltheaelanor."].username:after,
.messageUserBlock a[href*="/angrymrbungle."].username:after,
.messageUserBlock a[href*="/apellegrino0304."].username:after,
.messageUserBlock a[href*="/arowlingstone."].username:after,
.messageUserBlock a[href*="/atomix."].username:after,
.messageUserBlock a[href*="/averageandy27."].username:after,
.messageUserBlock a[href*="/ayush_s92."].username:after,
.messageUserBlock a[href*="/badtotheskin."].username:after,
.messageUserBlock a[href*="/bahamutxxxx."].username:after,
.messageUserBlock a[href*="/battlestriker123."].username:after,
.messageUserBlock a[href*="/bigac88."].username:after,
.messageUserBlock a[href*="/blactrick2."].username:after,
.messageUserBlock a[href*="/bladesymphony."].username:after,
.messageUserBlock a[href*="/bloodix."].username:after,
.messageUserBlock a[href*="/blu4ever."].username:after,
.messageUserBlock a[href*="/brianalbert."].username:after,
.messageUserBlock a[href*="/briefs_cat11."].username:after,
.messageUserBlock a[href*="/callsignstarbucks."].username:after,
.messageUserBlock a[href*="/chibkey."].username:after,
.messageUserBlock a[href*="/chief_rocka."].username:after,
.messageUserBlock a[href*="/chris2fast38."].username:after,
.messageUserBlock a[href*="/conkerkid11."].username:after,
.messageUserBlock a[href*="/cookiemonster426."].username:after,
.messageUserBlock a[href*="/danxzenus."].username:after,
.messageUserBlock a[href*="/darkling692."].username:after,
.messageUserBlock a[href*="/das6486."].username:after,
.messageUserBlock a[href*="/dinerman."].username:after,
.messageUserBlock a[href*="/djchan08."].username:after,
.messageUserBlock a[href*="/djmmt."].username:after,
.messageUserBlock a[href*="/dragoonpk."].username:after,
.messageUserBlock a[href*="/dunc7827."].username:after,
.messageUserBlock a[href*="/eamo5."].username:after,
.messageUserBlock a[href*="/eamo5."].username:after,
.messageUserBlock a[href*="/erikringuette1998."].username:after,
.messageUserBlock a[href*="/falcon-x32."].username:after,
.messageUserBlock a[href*="/falcor007."].username:after,
.messageUserBlock a[href*="/fantaffx."].username:after,
.messageUserBlock a[href*="/fellstrike."].username:after,
.messageUserBlock a[href*="/feloniousmax."].username:after,
.messageUserBlock a[href*="/feral_fighter."].username:after,
.messageUserBlock a[href*="/filmergame."].username:after,
.messageUserBlock a[href*="/flashndp."].username:after,
.messageUserBlock a[href*="/fliadaloisio."].username:after,
.messageUserBlock a[href*="/frodneid."].username:after,
.messageUserBlock a[href*="/frostedsloth."].username:after,
.messageUserBlock a[href*="/gaevren."].username:after,
.messageUserBlock a[href*="/gameguy523."].username:after,
.messageUserBlock a[href*="/gamelorddcn."].username:after,
.messageUserBlock a[href*="/gamer1st."].username:after,
.messageUserBlock a[href*="/gene_ii."].username:after,
.messageUserBlock a[href*="/girlsrgamers2."].username:after,
.messageUserBlock a[href*="/griffingamez."].username:after,
.messageUserBlock a[href*="/guns_and_horses."].username:after,
.messageUserBlock a[href*="/hangingcliff."].username:after,
.messageUserBlock a[href*="/hardcore_hector."].username:after,
.messageUserBlock a[href*="/hypernova1024."].username:after,
.messageUserBlock a[href*="/infamousabo."].username:after,
.messageUserBlock a[href*="/j_smash."].username:after,
.messageUserBlock a[href*="/j0ebl0w."].username:after,
.messageUserBlock a[href*="/jamiemad66."].username:after,
.messageUserBlock a[href*="/jedmist1."].username:after,
.messageUserBlock a[href*="/joseomatic."].username:after,
.messageUserBlock a[href*="/josh5890."].username:after,
.messageUserBlock a[href*="/jsnakec."].username:after,
.messageUserBlock a[href*="/keylimepies."].username:after,
.messageUserBlock a[href*="/kingalex94."].username:after,
.messageUserBlock a[href*="/kingbren."].username:after,
.messageUserBlock a[href*="/koffeeguy."].username:after,
.messageUserBlock a[href*="/leahbjackson."].username:after,
.messageUserBlock a[href*="/lecambrioleur."].username:after,
.messageUserBlock a[href*="/leedoc93."].username:after,
.messageUserBlock a[href*="/lightecojak."].username:after,
.messageUserBlock a[href*="/lithosthehero."].username:after,
.messageUserBlock a[href*="/lord_auric."].username:after,
.messageUserBlock a[href*="/majesticmaverick."].username:after,
.messageUserBlock a[href*="/masterchief3784."].username:after,
.messageUserBlock a[href*="/matt_the_marvel."].username:after,
.messageUserBlock a[href*="/memegaman03."].username:after,
.messageUserBlock a[href*="/metal-gear-matt."].username:after,
.messageUserBlock a[href*="/michaelrobot13."].username:after,
.messageUserBlock a[href*="/mikebrns."].username:after,
.messageUserBlock a[href*="/militaryveterangamer."].username:after,
.messageUserBlock a[href*="/mjkl131."].username:after,
.messageUserBlock a[href*="/mogg18."].username:after,
.messageUserBlock a[href*="/mrjjcims."].username:after,
.messageUserBlock a[href*="/mxaghost."].username:after,
.messageUserBlock a[href*="/nagato188."].username:after,
.messageUserBlock a[href*="/ndn4life."].username:after,
.messageUserBlock a[href*="/nookfan."].username:after,
.messageUserBlock a[href*="/ogeniusone."].username:after,
.messageUserBlock a[href*="/old-snake24."].username:after,
.messageUserBlock a[href*="/paleselan."].username:after,
.messageUserBlock a[href*="/pandamusk."].username:after,
.messageUserBlock a[href*="/patrix_raider."].username:after,
.messageUserBlock a[href*="/peteyoneto."].username:after,
.messageUserBlock a[href*="/pleiadian."].username:after,
.messageUserBlock a[href*="/rasecul."].username:after,
.messageUserBlock a[href*="/rebel_181."].username:after,
.messageUserBlock a[href*="/respectedgenius."].username:after,
.messageUserBlock a[href*="/rev8691."].username:after,
.messageUserBlock a[href*="/rockieollie."].username:after,
.messageUserBlock a[href*="/rockoutdude77."].username:after,
.messageUserBlock a[href*="/ryanpalmer."].username:after,
.messageUserBlock a[href*="/ryogavee."].username:after,
.messageUserBlock a[href*="/s3bass."].username:after,
.messageUserBlock a[href*="/saintbalor."].username:after,
.messageUserBlock a[href*="/saiyanjedi_trunks."].username:after,
.messageUserBlock a[href*="/sam31007."].username:after,
.messageUserBlock a[href*="/sangetsu-ii."].username:after,
.messageUserBlock a[href*="/sauvignonymous."].username:after,
.messageUserBlock a[href*="/sicron1417."].username:after,
.messageUserBlock a[href*="/siggi_wiggah."].username:after,
.messageUserBlock a[href*="/sillyjones."].username:after,
.messageUserBlock a[href*="/siphen.0."].username:after,
.messageUserBlock a[href*="/splitmindeddude."].username:after,
.messageUserBlock a[href*="/spock-nz."].username:after,
.messageUserBlock a[href*="/super-zambezi."].username:after,
.messageUserBlock a[href*="/swampsteel."].username:after,
.messageUserBlock a[href*="/tacticalea."].username:after,
.messageUserBlock a[href*="/tehcanadian."].username:after,
.messageUserBlock a[href*="/tehcanadian."].username:after,
.messageUserBlock a[href*="/thabass."].username:after,
.messageUserBlock a[href*="/the_hitman86."].username:after,
.messageUserBlock a[href*="/thebandteacher."].username:after,
.messageUserBlock a[href*="/thebelltoles."].username:after,
.messageUserBlock a[href*="/theflash11."].username:after,
.messageUserBlock a[href*="/thejis."].username:after,
.messageUserBlock a[href*="/thelaw2032."].username:after,
.messageUserBlock a[href*="/theman_714."].username:after,
.messageUserBlock a[href*="/tiger61378."].username:after,
.messageUserBlock a[href*="/tmg.exe."].username:after,
.messageUserBlock a[href*="/understandout."].username:after,
.messageUserBlock a[href*="/urwifesmugglescorn."].username:after,
.messageUserBlock a[href*="/vampirehorde2."].username:after,
.messageUserBlock a[href*="/vdot90."].username:after,
.messageUserBlock a[href*="/violentrain."].username:after,
.messageUserBlock a[href*="/wheezy11."].username:after,
.messageUserBlock a[href*="/windowfixer."].username:after,
.messageUserBlock a[href*="/woody938."].username:after,
.messageUserBlock a[href*="/xbro."].username:after,
.messageUserBlock a[href*="/xxdisturbedsavio."].username:after,
.messageUserBlock a[href*="/zombieducklings."].username:after,
.messageUserBlock a[href*="/sauvignonymous."].username:after,
.messageUserBlock a[href*="/1313-evil_homer."].username:after,
.messageUserBlock a[href*="/absolute."].username:after,
.messageUserBlock a[href*="/foxy."].username:after,
.messageUserBlock a[href*="/sparky."].username:after,
.messageUserBlock a[href*="/afio."].username:after,
.messageUserBlock a[href*="/ajax_85."].username:after,
.messageUserBlock a[href*="/alexbropa."].username:after,
.messageUserBlock a[href*="/beibhinn."].username:after,
.messageUserBlock a[href*="/blue_tooth."].username:after,
.messageUserBlock a[href*="/btbrian."].username:after,
.messageUserBlock a[href*="/buffy_1997."].username:after,
.messageUserBlock a[href*="/carlmmii."].username:after,
.messageUserBlock a[href*="/checker138."].username:after,
.messageUserBlock a[href*="/cherry_luv."].username:after,
.messageUserBlock a[href*="/cheski."].username:after,
.messageUserBlock a[href*="/columbonet."].username:after,
.messageUserBlock a[href*="/danieljr."].username:after,
.messageUserBlock a[href*="/darkblood999."].username:after,
.messageUserBlock a[href*="/devia_eleven."].username:after,
.messageUserBlock a[href*="/dquigley."].username:after,
.messageUserBlock a[href*="/dunesvladharkonnen."].username:after,
.messageUserBlock a[href*="/earthbounder55."].username:after,
.messageUserBlock a[href*="/east1226."].username:after,
.messageUserBlock a[href*="/estupido1."].username:after,
.messageUserBlock a[href*="/foggdawg77."].username:after,
.messageUserBlock a[href*="/four0oz2freedom."].username:after,
.messageUserBlock a[href*="/frdrizzt."].username:after,
.messageUserBlock a[href*="/frogsplash45."].username:after,
.messageUserBlock a[href*="/genci."].username:after,
.messageUserBlock a[href*="/gfunkera10."].username:after,
.messageUserBlock a[href*="/grimtempest."].username:after,
.messageUserBlock a[href*="/gtporsche."].username:after,
.messageUserBlock a[href*="/happytroopa."].username:after,
.messageUserBlock a[href*="/haterslayer."].username:after,
.messageUserBlock a[href*="/imho."].username:after,
.messageUserBlock a[href*="/jawntem."].username:after,
.messageUserBlock a[href*="/kailem1."].username:after,
.messageUserBlock a[href*="/kanejr00."].username:after,
.messageUserBlock a[href*="/kiera2."].username:after,
.messageUserBlock a[href*="/kingkrane."].username:after,
.messageUserBlock a[href*="/ksquall1."].username:after,
.messageUserBlock a[href*="/lakerfan000102."].username:after,
.messageUserBlock a[href*="/link223."].username:after,
.messageUserBlock a[href*="/lost_in_translation."].username:after,
.messageUserBlock a[href*="/luisoscarb."].username:after,
.messageUserBlock a[href*="/making-good."].username:after,
.messageUserBlock a[href*="/max_anime."].username:after,
.messageUserBlock a[href*="/max-fischer."].username:after,
.messageUserBlock a[href*="/midnightrain."].username:after,
.messageUserBlock a[href*="/mr_chun."].username:after,
.messageUserBlock a[href*="/mrmvp91."].username:after,
.messageUserBlock a[href*="/mystery79."].username:after,
.messageUserBlock a[href*="/omnivus."].username:after,
.messageUserBlock a[href*="/omnomnom26."].username:after,
.messageUserBlock a[href*="/phantom-pain."].username:after,
.messageUserBlock a[href*="/raza1495."].username:after,
.messageUserBlock a[href*="/red7ring."].username:after,
.messageUserBlock a[href*="/rename_card."].username:after,
.messageUserBlock a[href*="/rocknrollsisyphus."].username:after,
.messageUserBlock a[href*="/rudypu_candyass."].username:after,
.messageUserBlock a[href*="/sagara-san."].username:after,
.messageUserBlock a[href*="/sdevito."].username:after,
.messageUserBlock a[href*="/seattle_mariners."].username:after,
.messageUserBlock a[href*="/shaneomac911."].username:after,
.messageUserBlock a[href*="/shiny_rayquaza."].username:after,
.messageUserBlock a[href*="/simpsonsfan007."].username:after,
.messageUserBlock a[href*="/sirgarth."].username:after,
.messageUserBlock a[href*="/solar7."].username:after,
.messageUserBlock a[href*="/solidtexture."].username:after,
.messageUserBlock a[href*="/solitanze."].username:after,
.messageUserBlock a[href*="/some_random_aussie."].username:after,
.messageUserBlock a[href*="/studevo."].username:after,
.messageUserBlock a[href*="/stylobean."].username:after,
.messageUserBlock a[href*="/syrilrian."].username:after,
.messageUserBlock a[href*="/tha_villain."].username:after,
.messageUserBlock a[href*="/that1guy64."].username:after,
.messageUserBlock a[href*="/vega_obscura."].username:after,
.messageUserBlock a[href*="/veklorr."].username:after,
.messageUserBlock a[href*="/viewedjacob."].username:after,
.messageUserBlock a[href*="/volvagia_slayer."].username:after,
.messageUserBlock a[href*="/whysodevious."].username:after,
.messageUserBlock a[href*="/xerosyphon."].username:after,
.messageUserBlock a[href*="/you_shall_be_as_gods."].username:after,
.messageUserBlock a[href*="/zinfandelicious."].username:after,
#allstar-badge {
    content: ' \2605';
    color: #d3222a;
    position: relative;
}

/* Moderator badge */

.messageUserBlock a[href*="/1313-evil_homer."].username+.userTitle,
.messageUserBlock a[href*="/absolute."].username+.userTitle,
.messageUserBlock a[href*="/foxy."].username+.userTitle,
.messageUserBlock a[href*="/sparky."].username+.userTitle,
.messageUserBlock a[href*="/afio."].username+.userTitle,
.messageUserBlock a[href*="/ajax_85."].username+.userTitle,
.messageUserBlock a[href*="/alexbropa."].username+.userTitle,
.messageUserBlock a[href*="/beibhinn."].username+.userTitle,
.messageUserBlock a[href*="/blue_tooth."].username+.userTitle,
.messageUserBlock a[href*="/btbrian."].username+.userTitle,
.messageUserBlock a[href*="/buffy_1997."].username+.userTitle,
.messageUserBlock a[href*="/carlmmii."].username+.userTitle,
.messageUserBlock a[href*="/checker138."].username+.userTitle,
.messageUserBlock a[href*="/cherry_luv."].username+.userTitle,
.messageUserBlock a[href*="/cheski."].username+.userTitle,
.messageUserBlock a[href*="/columbonet."].username+.userTitle,
.messageUserBlock a[href*="/danieljr."].username+.userTitle,
.messageUserBlock a[href*="/darkblood999."].username+.userTitle,
.messageUserBlock a[href*="/devia_eleven."].username+.userTitle,
.messageUserBlock a[href*="/dquigley."].username+.userTitle,
.messageUserBlock a[href*="/dunesvladharkonnen."].username+.userTitle,
.messageUserBlock a[href*="/earthbounder55."].username+.userTitle,
.messageUserBlock a[href*="/east1226."].username+.userTitle,
.messageUserBlock a[href*="/estupido1."].username+.userTitle,
.messageUserBlock a[href*="/foggdawg77."].username+.userTitle,
.messageUserBlock a[href*="/four0oz2freedom."].username+.userTitle,
.messageUserBlock a[href*="/frdrizzt."].username+.userTitle,
.messageUserBlock a[href*="/frogsplash45."].username+.userTitle,
.messageUserBlock a[href*="/genci."].username+.userTitle,
.messageUserBlock a[href*="/gfunkera10."].username+.userTitle,
.messageUserBlock a[href*="/grimtempest."].username+.userTitle,
.messageUserBlock a[href*="/gtporsche."].username+.userTitle,
.messageUserBlock a[href*="/happytroopa."].username+.userTitle,
.messageUserBlock a[href*="/haterslayer."].username+.userTitle,
.messageUserBlock a[href*="/imho."].username+.userTitle,
.messageUserBlock a[href*="/jawntem."].username+.userTitle,
.messageUserBlock a[href*="/kailem1."].username+.userTitle,
.messageUserBlock a[href*="/kanejr00."].username+.userTitle,
.messageUserBlock a[href*="/kiera2."].username+.userTitle,
.messageUserBlock a[href*="/kingkrane."].username+.userTitle,
.messageUserBlock a[href*="/ksquall1."].username+.userTitle,
.messageUserBlock a[href*="/lakerfan000102."].username+.userTitle,
.messageUserBlock a[href*="/link223."].username+.userTitle,
.messageUserBlock a[href*="/lost_in_translation."].username+.userTitle,
.messageUserBlock a[href*="/luisoscarb."].username+.userTitle,
.messageUserBlock a[href*="/making-good."].username+.userTitle,
.messageUserBlock a[href*="/max_anime."].username+.userTitle,
.messageUserBlock a[href*="/max-fischer."].username+.userTitle,
.messageUserBlock a[href*="/midnightrain."].username+.userTitle,
.messageUserBlock a[href*="/mr_chun."].username+.userTitle,
.messageUserBlock a[href*="/mrmvp91."].username+.userTitle,
.messageUserBlock a[href*="/mystery79."].username+.userTitle,
.messageUserBlock a[href*="/omnivus."].username+.userTitle,
.messageUserBlock a[href*="/omnomnom26."].username+.userTitle,
.messageUserBlock a[href*="/phantom-pain."].username+.userTitle,
.messageUserBlock a[href*="/raza1495."].username+.userTitle,
.messageUserBlock a[href*="/red7ring."].username+.userTitle,
.messageUserBlock a[href*="/rename_card."].username+.userTitle,
.messageUserBlock a[href*="/rocknrollsisyphus."].username+.userTitle,
.messageUserBlock a[href*="/rudypu_candyass."].username+.userTitle,
.messageUserBlock a[href*="/sagara-san."].username+.userTitle,
.messageUserBlock a[href*="/sdevito."].username+.userTitle,
.messageUserBlock a[href*="/seattle_mariners."].username+.userTitle,
.messageUserBlock a[href*="/shaneomac911."].username+.userTitle,
.messageUserBlock a[href*="/shiny_rayquaza."].username+.userTitle,
.messageUserBlock a[href*="/simpsonsfan007."].username+.userTitle,
.messageUserBlock a[href*="/sirgarth."].username+.userTitle,
.messageUserBlock a[href*="/solar7."].username+.userTitle,
.messageUserBlock a[href*="/solidtexture."].username+.userTitle,
.messageUserBlock a[href*="/solitanze."].username+.userTitle,
.messageUserBlock a[href*="/some_random_aussie."].username+.userTitle,
.messageUserBlock a[href*="/studevo."].username+.userTitle,
.messageUserBlock a[href*="/stylobean."].username+.userTitle,
.messageUserBlock a[href*="/syrilrian."].username+.userTitle,
.messageUserBlock a[href*="/tha_villain."].username+.userTitle,
.messageUserBlock a[href*="/that1guy64."].username+.userTitle,
.messageUserBlock a[href*="/vega_obscura."].username+.userTitle,
.messageUserBlock a[href*="/veklorr."].username+.userTitle,
.messageUserBlock a[href*="/viewedjacob."].username+.userTitle,
.messageUserBlock a[href*="/volvagia_slayer."].username+.userTitle,
.messageUserBlock a[href*="/whysodevious."].username+.userTitle,
.messageUserBlock a[href*="/xerosyphon."].username+.userTitle,
.messageUserBlock a[href*="/you_shall_be_as_gods."].username+.userTitle,
.messageUserBlock a[href*="/zinfandelicious."].username+.userTitle,
#mod-badge-space {
    padding-left: 33px;
    position: relative;
}

.messageUserBlock a[href*="/1313-evil_homer."].username+.userTitle:before,
.messageUserBlock a[href*="/absolute."].username+.userTitle:before,
.messageUserBlock a[href*="/foxy."].username+.userTitle:before,
.messageUserBlock a[href*="/sparky."].username+.userTitle:before,
.messageUserBlock a[href*="/afio."].username+.userTitle:before,
.messageUserBlock a[href*="/ajax_85."].username+.userTitle:before,
.messageUserBlock a[href*="/alexbropa."].username+.userTitle:before,
.messageUserBlock a[href*="/beibhinn."].username+.userTitle:before,
.messageUserBlock a[href*="/blue_tooth."].username+.userTitle:before,
.messageUserBlock a[href*="/btbrian."].username+.userTitle:before,
.messageUserBlock a[href*="/buffy_1997."].username+.userTitle:before,
.messageUserBlock a[href*="/carlmmii."].username+.userTitle:before,
.messageUserBlock a[href*="/checker138."].username+.userTitle:before,
.messageUserBlock a[href*="/cherry_luv."].username+.userTitle:before,
.messageUserBlock a[href*="/cheski."].username+.userTitle:before,
.messageUserBlock a[href*="/columbonet."].username+.userTitle:before,
.messageUserBlock a[href*="/danieljr."].username+.userTitle:before,
.messageUserBlock a[href*="/darkblood999."].username+.userTitle:before,
.messageUserBlock a[href*="/devia_eleven."].username+.userTitle:before,
.messageUserBlock a[href*="/dquigley."].username+.userTitle:before,
.messageUserBlock a[href*="/dunesvladharkonnen."].username+.userTitle:before,
.messageUserBlock a[href*="/earthbounder55."].username+.userTitle:before,
.messageUserBlock a[href*="/east1226."].username+.userTitle:before,
.messageUserBlock a[href*="/estupido1."].username+.userTitle:before,
.messageUserBlock a[href*="/foggdawg77."].username+.userTitle:before,
.messageUserBlock a[href*="/four0oz2freedom."].username+.userTitle:before,
.messageUserBlock a[href*="/frdrizzt."].username+.userTitle:before,
.messageUserBlock a[href*="/frogsplash45."].username+.userTitle:before,
.messageUserBlock a[href*="/genci."].username+.userTitle:before,
.messageUserBlock a[href*="/gfunkera10."].username+.userTitle:before,
.messageUserBlock a[href*="/grimtempest."].username+.userTitle:before,
.messageUserBlock a[href*="/gtporsche."].username+.userTitle:before,
.messageUserBlock a[href*="/happytroopa."].username+.userTitle:before,
.messageUserBlock a[href*="/haterslayer."].username+.userTitle:before,
.messageUserBlock a[href*="/imho."].username+.userTitle:before,
.messageUserBlock a[href*="/jawntem."].username+.userTitle:before,
.messageUserBlock a[href*="/kailem1."].username+.userTitle:before,
.messageUserBlock a[href*="/kanejr00."].username+.userTitle:before,
.messageUserBlock a[href*="/kiera2."].username+.userTitle:before,
.messageUserBlock a[href*="/kingkrane."].username+.userTitle:before,
.messageUserBlock a[href*="/ksquall1."].username+.userTitle:before,
.messageUserBlock a[href*="/lakerfan000102."].username+.userTitle:before,
.messageUserBlock a[href*="/link223."].username+.userTitle:before,
.messageUserBlock a[href*="/lost_in_translation."].username+.userTitle:before,
.messageUserBlock a[href*="/luisoscarb."].username+.userTitle:before,
.messageUserBlock a[href*="/making-good."].username+.userTitle:before,
.messageUserBlock a[href*="/max_anime."].username+.userTitle:before,
.messageUserBlock a[href*="/max-fischer."].username+.userTitle:before,
.messageUserBlock a[href*="/midnightrain."].username+.userTitle:before,
.messageUserBlock a[href*="/mr_chun."].username+.userTitle:before,
.messageUserBlock a[href*="/mrmvp91."].username+.userTitle:before,
.messageUserBlock a[href*="/mystery79."].username+.userTitle:before,
.messageUserBlock a[href*="/omnivus."].username+.userTitle:before,
.messageUserBlock a[href*="/omnomnom26."].username+.userTitle:before,
.messageUserBlock a[href*="/phantom-pain."].username+.userTitle:before,
.messageUserBlock a[href*="/raza1495."].username+.userTitle:before,
.messageUserBlock a[href*="/red7ring."].username+.userTitle:before,
.messageUserBlock a[href*="/rename_card."].username+.userTitle:before,
.messageUserBlock a[href*="/rocknrollsisyphus."].username+.userTitle:before,
.messageUserBlock a[href*="/rudypu_candyass."].username+.userTitle:before,
.messageUserBlock a[href*="/sagara-san."].username+.userTitle:before,
.messageUserBlock a[href*="/sdevito."].username+.userTitle:before,
.messageUserBlock a[href*="/seattle_mariners."].username+.userTitle:before,
.messageUserBlock a[href*="/shaneomac911."].username+.userTitle:before,
.messageUserBlock a[href*="/shiny_rayquaza."].username+.userTitle:before,
.messageUserBlock a[href*="/simpsonsfan007."].username+.userTitle:before,
.messageUserBlock a[href*="/sirgarth."].username+.userTitle:before,
.messageUserBlock a[href*="/solar7."].username+.userTitle:before,
.messageUserBlock a[href*="/solidtexture."].username+.userTitle:before,
.messageUserBlock a[href*="/solitanze."].username+.userTitle:before,
.messageUserBlock a[href*="/some_random_aussie."].username+.userTitle:before,
.messageUserBlock a[href*="/studevo."].username+.userTitle:before,
.messageUserBlock a[href*="/stylobean."].username+.userTitle:before,
.messageUserBlock a[href*="/syrilrian."].username+.userTitle:before,
.messageUserBlock a[href*="/tha_villain."].username+.userTitle:before,
.messageUserBlock a[href*="/that1guy64."].username+.userTitle:before,
.messageUserBlock a[href*="/vega_obscura."].username+.userTitle:before,
.messageUserBlock a[href*="/veklorr."].username+.userTitle:before,
.messageUserBlock a[href*="/viewedjacob."].username+.userTitle:before,
.messageUserBlock a[href*="/volvagia_slayer."].username+.userTitle:before,
.messageUserBlock a[href*="/whysodevious."].username+.userTitle:before,
.messageUserBlock a[href*="/xerosyphon."].username+.userTitle:before,
.messageUserBlock a[href*="/you_shall_be_as_gods."].username+.userTitle:before,
.messageUserBlock a[href*="/zinfandelicious."].username+.userTitle:before,
#mod-badge-content {
    content: '';
    display: block;
    width: 28px;
    height: 20px;
    background-image: url('http://oystatic.ignimgs.com/src/core/img/widgets/social/shared/profileheaderv2/badge_sprite_v2.png');
    background-position: -18px 212px;
    background-size: 120px auto;

    position: absolute;
    top: -4px;
    left: 0px;
}