/* All-Star badge */

.messageUserBlock a[href*="/Lyndrek."].username:after,
.messageUserBlock a[href*="/Alfadir."].username:after,
.messageUserBlock a[href*="/Mithan."].username:after,
.messageUserBlock a[href*="/1212thedoctor."].username:after,
.messageUserBlock a[href*="/4ExaJohn."].username:after,
.messageUserBlock a[href*="/949paintball."].username:after,
.messageUserBlock a[href*="/Acery."].username:after,
.messageUserBlock a[href*="/AkagiyamaMissile."].username:after,
.messageUserBlock a[href*="/Amaltheaelanor."].username:after,
.messageUserBlock a[href*="/AngryMrBungle."].username:after,
.messageUserBlock a[href*="/apellegrino0304."].username:after,
.messageUserBlock a[href*="/aRowlingStone."].username:after,
.messageUserBlock a[href*="/atomix."].username:after,
.messageUserBlock a[href*="/averageandy27."].username:after,
.messageUserBlock a[href*="/Ayush_S92."].username:after,
.messageUserBlock a[href*="/badtotheskin."].username:after,
.messageUserBlock a[href*="/BahamutXXXX."].username:after,
.messageUserBlock a[href*="/Battlestriker123."].username:after,
.messageUserBlock a[href*="/BigAC88."].username:after,
.messageUserBlock a[href*="/blactrick2."].username:after,
.messageUserBlock a[href*="/bladesymphony."].username:after,
.messageUserBlock a[href*="/Bloodix."].username:after,
.messageUserBlock a[href*="/blu4ever."].username:after,
.messageUserBlock a[href*="/BrianAlbert."].username:after,
.messageUserBlock a[href*="/briefs_cat11."].username:after,
.messageUserBlock a[href*="/CallSignStarbucks."].username:after,
.messageUserBlock a[href*="/ChiBKey."].username:after,
.messageUserBlock a[href*="/Chief_Rocka."].username:after,
.messageUserBlock a[href*="/chris2fast38."].username:after,
.messageUserBlock a[href*="/conkerkid11."].username:after,
.messageUserBlock a[href*="/cookiemonster426."].username:after,
.messageUserBlock a[href*="/DanxZenus."].username:after,
.messageUserBlock a[href*="/darkling692."].username:after,
.messageUserBlock a[href*="/das6486."].username:after,
.messageUserBlock a[href*="/Dinerman."].username:after,
.messageUserBlock a[href*="/djchan08."].username:after,
.messageUserBlock a[href*="/djmmt."].username:after,
.messageUserBlock a[href*="/DragoonPK."].username:after,
.messageUserBlock a[href*="/dunc7827."].username:after,
.messageUserBlock a[href*="/eamo5."].username:after,
.messageUserBlock a[href*="/Eamo5."].username:after,
.messageUserBlock a[href*="/erikringuette1998."].username:after,
.messageUserBlock a[href*="/Falcon-X32."].username:after,
.messageUserBlock a[href*="/falcor007."].username:after,
.messageUserBlock a[href*="/fantaffx."].username:after,
.messageUserBlock a[href*="/Fellstrike."].username:after,
.messageUserBlock a[href*="/FeloniousMax."].username:after,
.messageUserBlock a[href*="/Feral_Fighter."].username:after,
.messageUserBlock a[href*="/FilmerGame."].username:after,
.messageUserBlock a[href*="/flashndp."].username:after,
.messageUserBlock a[href*="/fliadaloisio."].username:after,
.messageUserBlock a[href*="/Frodneid."].username:after,
.messageUserBlock a[href*="/FrostedSloth."].username:after,
.messageUserBlock a[href*="/Gaevren."].username:after,
.messageUserBlock a[href*="/gameguy523."].username:after,
.messageUserBlock a[href*="/GameLordDCN."].username:after,
.messageUserBlock a[href*="/gamer1st."].username:after,
.messageUserBlock a[href*="/Gene_II."].username:after,
.messageUserBlock a[href*="/girlsrgamers2."].username:after,
.messageUserBlock a[href*="/GriffinGamez."].username:after,
.messageUserBlock a[href*="/Guns_and_Horses."].username:after,
.messageUserBlock a[href*="/Hangingcliff."].username:after,
.messageUserBlock a[href*="/Hardcore_Hector."].username:after,
.messageUserBlock a[href*="/hypernova1024."].username:after,
.messageUserBlock a[href*="/InfamousABO."].username:after,
.messageUserBlock a[href*="/j_smash."].username:after,
.messageUserBlock a[href*="/J0EBL0W."].username:after,
.messageUserBlock a[href*="/Jamiemad66."].username:after,
.messageUserBlock a[href*="/jedmist1."].username:after,
.messageUserBlock a[href*="/JoseOmatic."].username:after,
.messageUserBlock a[href*="/josh5890."].username:after,
.messageUserBlock a[href*="/JSnakeC."].username:after,
.messageUserBlock a[href*="/Keylimepies."].username:after,
.messageUserBlock a[href*="/KingAlex94."].username:after,
.messageUserBlock a[href*="/kingbren."].username:after,
.messageUserBlock a[href*="/KoffeeGuy."].username:after,
.messageUserBlock a[href*="/Leahbjackson."].username:after,
.messageUserBlock a[href*="/LeCambrioleur."].username:after,
.messageUserBlock a[href*="/leedoc93."].username:after,
.messageUserBlock a[href*="/LightEcoJak."].username:after,
.messageUserBlock a[href*="/LithosTheHero."].username:after,
.messageUserBlock a[href*="/Lord_Auric."].username:after,
.messageUserBlock a[href*="/majesticmaverick."].username:after,
.messageUserBlock a[href*="/masterchief3784."].username:after,
.messageUserBlock a[href*="/matt_the_marvel."].username:after,
.messageUserBlock a[href*="/memegaman03."].username:after,
.messageUserBlock a[href*="/Metal-Gear-Matt."].username:after,
.messageUserBlock a[href*="/michaelrobot13."].username:after,
.messageUserBlock a[href*="/mikebrns."].username:after,
.messageUserBlock a[href*="/militaryveterangamer."].username:after,
.messageUserBlock a[href*="/mjkl131."].username:after,
.messageUserBlock a[href*="/mogg18."].username:after,
.messageUserBlock a[href*="/MrJJCims."].username:after,
.messageUserBlock a[href*="/MXAGhost."].username:after,
.messageUserBlock a[href*="/nagato188."].username:after,
.messageUserBlock a[href*="/nDn4LiFe."].username:after,
.messageUserBlock a[href*="/nookfan."].username:after,
.messageUserBlock a[href*="/OGeniusOne."].username:after,
.messageUserBlock a[href*="/Old-Snake24."].username:after,
.messageUserBlock a[href*="/paleselan."].username:after,
.messageUserBlock a[href*="/pandamusk."].username:after,
.messageUserBlock a[href*="/patrix_raider."].username:after,
.messageUserBlock a[href*="/PeteyOneto."].username:after,
.messageUserBlock a[href*="/pleiadian."].username:after,
.messageUserBlock a[href*="/Rasecul."].username:after,
.messageUserBlock a[href*="/Rebel_181."].username:after,
.messageUserBlock a[href*="/respectedgenius."].username:after,
.messageUserBlock a[href*="/rev8691."].username:after,
.messageUserBlock a[href*="/RockieOllie."].username:after,
.messageUserBlock a[href*="/rockoutdude77."].username:after,
.messageUserBlock a[href*="/RyanPalmer."].username:after,
.messageUserBlock a[href*="/ryogavee."].username:after,
.messageUserBlock a[href*="/S3BASS."].username:after,
.messageUserBlock a[href*="/SaintBalor."].username:after,
.messageUserBlock a[href*="/SaiyanJedi_Trunks."].username:after,
.messageUserBlock a[href*="/SAM31007."].username:after,
.messageUserBlock a[href*="/Sangetsu-II."].username:after,
.messageUserBlock a[href*="/Sauvignonymous."].username:after,
.messageUserBlock a[href*="/Sicron1417."].username:after,
.messageUserBlock a[href*="/siggi_wiggah."].username:after,
.messageUserBlock a[href*="/sillyjones."].username:after,
.messageUserBlock a[href*="/Siphen.0."].username:after,
.messageUserBlock a[href*="/splitmindeddude."].username:after,
.messageUserBlock a[href*="/spock-nz."].username:after,
.messageUserBlock a[href*="/Super-Zambezi."].username:after,
.messageUserBlock a[href*="/Swampsteel."].username:after,
.messageUserBlock a[href*="/TacticalEA."].username:after,
.messageUserBlock a[href*="/tehcanadian."].username:after,
.messageUserBlock a[href*="/TehCanadian."].username:after,
.messageUserBlock a[href*="/Thabass."].username:after,
.messageUserBlock a[href*="/the_hitman86."].username:after,
.messageUserBlock a[href*="/thebandteacher."].username:after,
.messageUserBlock a[href*="/thebelltoles."].username:after,
.messageUserBlock a[href*="/theflash11."].username:after,
.messageUserBlock a[href*="/TheJis."].username:after,
.messageUserBlock a[href*="/thelaw2032."].username:after,
.messageUserBlock a[href*="/theman_714."].username:after,
.messageUserBlock a[href*="/Tiger61378."].username:after,
.messageUserBlock a[href*="/tmg.exe."].username:after,
.messageUserBlock a[href*="/UnderStandout."].username:after,
.messageUserBlock a[href*="/urwifesmugglescorn."].username:after,
.messageUserBlock a[href*="/VampireHorde2."].username:after,
.messageUserBlock a[href*="/vdot90."].username:after,
.messageUserBlock a[href*="/ViolentRain."].username:after,
.messageUserBlock a[href*="/Wheezy11."].username:after,
.messageUserBlock a[href*="/windowfixer."].username:after,
.messageUserBlock a[href*="/woody938."].username:after,
.messageUserBlock a[href*="/xbro."].username:after,
.messageUserBlock a[href*="/xxDisturbedSavio."].username:after,
.messageUserBlock a[href*="/zombieducklings."].username:after,
.messageUserBlock a[href*="/sauvignonymous."].username:after,
.messageUserBlock a[href*="/1313-Evil_Homer."].username:after,
.messageUserBlock a[href*="/Absolute."].username:after,
.messageUserBlock a[href*="/Foxy."].username:after,
.messageUserBlock a[href*="/Sparky."].username:after,
.messageUserBlock a[href*="/Afio."].username:after,
.messageUserBlock a[href*="/ajax_85."].username:after,
.messageUserBlock a[href*="/AlexbroPA."].username:after,
.messageUserBlock a[href*="/beibhinn."].username:after,
.messageUserBlock a[href*="/Blue_Tooth."].username:after,
.messageUserBlock a[href*="/btbrian."].username:after,
.messageUserBlock a[href*="/Buffy_1997."].username:after,
.messageUserBlock a[href*="/carlmmii."].username:after,
.messageUserBlock a[href*="/checker138."].username:after,
.messageUserBlock a[href*="/cherry_luv."].username:after,
.messageUserBlock a[href*="/cheski."].username:after,
.messageUserBlock a[href*="/columbonet."].username:after,
.messageUserBlock a[href*="/DanielJr."].username:after,
.messageUserBlock a[href*="/DarkBlood999."].username:after,
.messageUserBlock a[href*="/Devia_Eleven."].username:after,
.messageUserBlock a[href*="/dquigley."].username:after,
.messageUserBlock a[href*="/DunesVladHarkonnen."].username:after,
.messageUserBlock a[href*="/Earthbounder55."].username:after,
.messageUserBlock a[href*="/east1226."].username:after,
.messageUserBlock a[href*="/Estupido1."].username:after,
.messageUserBlock a[href*="/foggdawg77."].username:after,
.messageUserBlock a[href*="/Four0oz2Freedom."].username:after,
.messageUserBlock a[href*="/frdrizzt."].username:after,
.messageUserBlock a[href*="/frogsplash45."].username:after,
.messageUserBlock a[href*="/genci."].username:after,
.messageUserBlock a[href*="/gfunkera10."].username:after,
.messageUserBlock a[href*="/GrimTempest."].username:after,
.messageUserBlock a[href*="/GTporsche."].username:after,
.messageUserBlock a[href*="/HappyTroopa."].username:after,
.messageUserBlock a[href*="/haterslayer."].username:after,
.messageUserBlock a[href*="/IMHO."].username:after,
.messageUserBlock a[href*="/jawnTEM."].username:after,
.messageUserBlock a[href*="/Kailem1."].username:after,
.messageUserBlock a[href*="/Kanejr00."].username:after,
.messageUserBlock a[href*="/kiera2."].username:after,
.messageUserBlock a[href*="/KingKrane."].username:after,
.messageUserBlock a[href*="/KSquall1."].username:after,
.messageUserBlock a[href*="/Lakerfan000102."].username:after,
.messageUserBlock a[href*="/link223."].username:after,
.messageUserBlock a[href*="/Lost_In_Translation."].username:after,
.messageUserBlock a[href*="/luisoscarb."].username:after,
.messageUserBlock a[href*="/Making-good."].username:after,
.messageUserBlock a[href*="/max_anime."].username:after,
.messageUserBlock a[href*="/Max-Fischer."].username:after,
.messageUserBlock a[href*="/MidnightRain."].username:after,
.messageUserBlock a[href*="/mr_chun."].username:after,
.messageUserBlock a[href*="/MrMVP91."].username:after,
.messageUserBlock a[href*="/mystery79."].username:after,
.messageUserBlock a[href*="/omnivus."].username:after,
.messageUserBlock a[href*="/Omnomnom26."].username:after,
.messageUserBlock a[href*="/Phantom-Pain."].username:after,
.messageUserBlock a[href*="/raza1495."].username:after,
.messageUserBlock a[href*="/red7ring."].username:after,
.messageUserBlock a[href*="/Rename_Card."].username:after,
.messageUserBlock a[href*="/rocknrollsisyphus."].username:after,
.messageUserBlock a[href*="/Rudypu_Candyass."].username:after,
.messageUserBlock a[href*="/Sagara-san."].username:after,
.messageUserBlock a[href*="/sdevito."].username:after,
.messageUserBlock a[href*="/Seattle_Mariners."].username:after,
.messageUserBlock a[href*="/shaneomac911."].username:after,
.messageUserBlock a[href*="/Shiny_Rayquaza."].username:after,
.messageUserBlock a[href*="/SimpsonsFan007."].username:after,
.messageUserBlock a[href*="/SirGarth."].username:after,
.messageUserBlock a[href*="/solar7."].username:after,
.messageUserBlock a[href*="/SolidTexture."].username:after,
.messageUserBlock a[href*="/solitanze."].username:after,
.messageUserBlock a[href*="/Some_Random_Aussie."].username:after,
.messageUserBlock a[href*="/StuDevo."].username:after,
.messageUserBlock a[href*="/Stylobean."].username:after,
.messageUserBlock a[href*="/Syrilrian."].username:after,
.messageUserBlock a[href*="/tha_villain."].username:after,
.messageUserBlock a[href*="/that1guy64."].username:after,
.messageUserBlock a[href*="/Vega_Obscura."].username:after,
.messageUserBlock a[href*="/Veklorr."].username:after,
.messageUserBlock a[href*="/ViewedJacob."].username:after,
.messageUserBlock a[href*="/Volvagia_slayer."].username:after,
.messageUserBlock a[href*="/WhySoDevious."].username:after,
.messageUserBlock a[href*="/XeroSyphon."].username:after,
.messageUserBlock a[href*="/you_shall_be_as_gods."].username:after,
.messageUserBlock a[href*="/Zinfandelicious."].username:after,
#allstar-badge {
    content: ' \2605';
    color: #d3222a;
    position: relative;
}

/* Moderator badge */

.messageUserBlock a[href*="/1313-Evil_Homer."].username+.userTitle,
.messageUserBlock a[href*="/Absolute."].username+.userTitle,
.messageUserBlock a[href*="/Foxy."].username+.userTitle,
.messageUserBlock a[href*="/Sparky."].username+.userTitle,
.messageUserBlock a[href*="/Afio."].username+.userTitle,
.messageUserBlock a[href*="/ajax_85."].username+.userTitle,
.messageUserBlock a[href*="/AlexbroPA."].username+.userTitle,
.messageUserBlock a[href*="/beibhinn."].username+.userTitle,
.messageUserBlock a[href*="/Blue_Tooth."].username+.userTitle,
.messageUserBlock a[href*="/btbrian."].username+.userTitle,
.messageUserBlock a[href*="/Buffy_1997."].username+.userTitle,
.messageUserBlock a[href*="/carlmmii."].username+.userTitle,
.messageUserBlock a[href*="/checker138."].username+.userTitle,
.messageUserBlock a[href*="/cherry_luv."].username+.userTitle,
.messageUserBlock a[href*="/cheski."].username+.userTitle,
.messageUserBlock a[href*="/columbonet."].username+.userTitle,
.messageUserBlock a[href*="/DanielJr."].username+.userTitle,
.messageUserBlock a[href*="/DarkBlood999."].username+.userTitle,
.messageUserBlock a[href*="/Devia_Eleven."].username+.userTitle,
.messageUserBlock a[href*="/dquigley."].username+.userTitle,
.messageUserBlock a[href*="/DunesVladHarkonnen."].username+.userTitle,
.messageUserBlock a[href*="/Earthbounder55."].username+.userTitle,
.messageUserBlock a[href*="/east1226."].username+.userTitle,
.messageUserBlock a[href*="/Estupido1."].username+.userTitle,
.messageUserBlock a[href*="/foggdawg77."].username+.userTitle,
.messageUserBlock a[href*="/Four0oz2Freedom."].username+.userTitle,
.messageUserBlock a[href*="/frdrizzt."].username+.userTitle,
.messageUserBlock a[href*="/frogsplash45."].username+.userTitle,
.messageUserBlock a[href*="/genci."].username+.userTitle,
.messageUserBlock a[href*="/gfunkera10."].username+.userTitle,
.messageUserBlock a[href*="/GrimTempest."].username+.userTitle,
.messageUserBlock a[href*="/GTporsche."].username+.userTitle,
.messageUserBlock a[href*="/HappyTroopa."].username+.userTitle,
.messageUserBlock a[href*="/haterslayer."].username+.userTitle,
.messageUserBlock a[href*="/IMHO."].username+.userTitle,
.messageUserBlock a[href*="/jawnTEM."].username+.userTitle,
.messageUserBlock a[href*="/Kailem1."].username+.userTitle,
.messageUserBlock a[href*="/Kanejr00."].username+.userTitle,
.messageUserBlock a[href*="/kiera2."].username+.userTitle,
.messageUserBlock a[href*="/KingKrane."].username+.userTitle,
.messageUserBlock a[href*="/KSquall1."].username+.userTitle,
.messageUserBlock a[href*="/Lakerfan000102."].username+.userTitle,
.messageUserBlock a[href*="/link223."].username+.userTitle,
.messageUserBlock a[href*="/Lost_In_Translation."].username+.userTitle,
.messageUserBlock a[href*="/luisoscarb."].username+.userTitle,
.messageUserBlock a[href*="/Making-good."].username+.userTitle,
.messageUserBlock a[href*="/max_anime."].username+.userTitle,
.messageUserBlock a[href*="/Max-Fischer."].username+.userTitle,
.messageUserBlock a[href*="/MidnightRain."].username+.userTitle,
.messageUserBlock a[href*="/mr_chun."].username+.userTitle,
.messageUserBlock a[href*="/MrMVP91."].username+.userTitle,
.messageUserBlock a[href*="/mystery79."].username+.userTitle,
.messageUserBlock a[href*="/omnivus."].username+.userTitle,
.messageUserBlock a[href*="/Omnomnom26."].username+.userTitle,
.messageUserBlock a[href*="/Phantom-Pain."].username+.userTitle,
.messageUserBlock a[href*="/raza1495."].username+.userTitle,
.messageUserBlock a[href*="/red7ring."].username+.userTitle,
.messageUserBlock a[href*="/Rename_Card."].username+.userTitle,
.messageUserBlock a[href*="/rocknrollsisyphus."].username+.userTitle,
.messageUserBlock a[href*="/Rudypu_Candyass."].username+.userTitle,
.messageUserBlock a[href*="/Sagara-san."].username+.userTitle,
.messageUserBlock a[href*="/sdevito."].username+.userTitle,
.messageUserBlock a[href*="/Seattle_Mariners."].username+.userTitle,
.messageUserBlock a[href*="/shaneomac911."].username+.userTitle,
.messageUserBlock a[href*="/Shiny_Rayquaza."].username+.userTitle,
.messageUserBlock a[href*="/SimpsonsFan007."].username+.userTitle,
.messageUserBlock a[href*="/SirGarth."].username+.userTitle,
.messageUserBlock a[href*="/solar7."].username+.userTitle,
.messageUserBlock a[href*="/SolidTexture."].username+.userTitle,
.messageUserBlock a[href*="/solitanze."].username+.userTitle,
.messageUserBlock a[href*="/Some_Random_Aussie."].username+.userTitle,
.messageUserBlock a[href*="/StuDevo."].username+.userTitle,
.messageUserBlock a[href*="/Stylobean."].username+.userTitle,
.messageUserBlock a[href*="/Syrilrian."].username+.userTitle,
.messageUserBlock a[href*="/tha_villain."].username+.userTitle,
.messageUserBlock a[href*="/that1guy64."].username+.userTitle,
.messageUserBlock a[href*="/Vega_Obscura."].username+.userTitle,
.messageUserBlock a[href*="/Veklorr."].username+.userTitle,
.messageUserBlock a[href*="/ViewedJacob."].username+.userTitle,
.messageUserBlock a[href*="/Volvagia_slayer."].username+.userTitle,
.messageUserBlock a[href*="/WhySoDevious."].username+.userTitle,
.messageUserBlock a[href*="/XeroSyphon."].username+.userTitle,
.messageUserBlock a[href*="/you_shall_be_as_gods."].username+.userTitle,
.messageUserBlock a[href*="/Zinfandelicious."].username+.userTitle,
#mod-badge-space {
    padding-left: 33px;
    position: relative;
}

.messageUserBlock a[href*="/1313-Evil_Homer."].username+.userTitle:before,
.messageUserBlock a[href*="/Absolute."].username+.userTitle:before,
.messageUserBlock a[href*="/Foxy."].username+.userTitle:before,
.messageUserBlock a[href*="/Sparky."].username+.userTitle:before,
.messageUserBlock a[href*="/Afio."].username+.userTitle:before,
.messageUserBlock a[href*="/ajax_85."].username+.userTitle:before,
.messageUserBlock a[href*="/AlexbroPA."].username+.userTitle:before,
.messageUserBlock a[href*="/beibhinn."].username+.userTitle:before,
.messageUserBlock a[href*="/Blue_Tooth."].username+.userTitle:before,
.messageUserBlock a[href*="/btbrian."].username+.userTitle:before,
.messageUserBlock a[href*="/Buffy_1997."].username+.userTitle:before,
.messageUserBlock a[href*="/carlmmii."].username+.userTitle:before,
.messageUserBlock a[href*="/checker138."].username+.userTitle:before,
.messageUserBlock a[href*="/cherry_luv."].username+.userTitle:before,
.messageUserBlock a[href*="/cheski."].username+.userTitle:before,
.messageUserBlock a[href*="/columbonet."].username+.userTitle:before,
.messageUserBlock a[href*="/DanielJr."].username+.userTitle:before,
.messageUserBlock a[href*="/DarkBlood999."].username+.userTitle:before,
.messageUserBlock a[href*="/Devia_Eleven."].username+.userTitle:before,
.messageUserBlock a[href*="/dquigley."].username+.userTitle:before,
.messageUserBlock a[href*="/DunesVladHarkonnen."].username+.userTitle:before,
.messageUserBlock a[href*="/Earthbounder55."].username+.userTitle:before,
.messageUserBlock a[href*="/east1226."].username+.userTitle:before,
.messageUserBlock a[href*="/Estupido1."].username+.userTitle:before,
.messageUserBlock a[href*="/foggdawg77."].username+.userTitle:before,
.messageUserBlock a[href*="/Four0oz2Freedom."].username+.userTitle:before,
.messageUserBlock a[href*="/frdrizzt."].username+.userTitle:before,
.messageUserBlock a[href*="/frogsplash45."].username+.userTitle:before,
.messageUserBlock a[href*="/genci."].username+.userTitle:before,
.messageUserBlock a[href*="/gfunkera10."].username+.userTitle:before,
.messageUserBlock a[href*="/GrimTempest."].username+.userTitle:before,
.messageUserBlock a[href*="/GTporsche."].username+.userTitle:before,
.messageUserBlock a[href*="/HappyTroopa."].username+.userTitle:before,
.messageUserBlock a[href*="/haterslayer."].username+.userTitle:before,
.messageUserBlock a[href*="/IMHO."].username+.userTitle:before,
.messageUserBlock a[href*="/jawnTEM."].username+.userTitle:before,
.messageUserBlock a[href*="/Kailem1."].username+.userTitle:before,
.messageUserBlock a[href*="/Kanejr00."].username+.userTitle:before,
.messageUserBlock a[href*="/kiera2."].username+.userTitle:before,
.messageUserBlock a[href*="/KingKrane."].username+.userTitle:before,
.messageUserBlock a[href*="/KSquall1."].username+.userTitle:before,
.messageUserBlock a[href*="/Lakerfan000102."].username+.userTitle:before,
.messageUserBlock a[href*="/link223."].username+.userTitle:before,
.messageUserBlock a[href*="/Lost_In_Translation."].username+.userTitle:before,
.messageUserBlock a[href*="/luisoscarb."].username+.userTitle:before,
.messageUserBlock a[href*="/Making-good."].username+.userTitle:before,
.messageUserBlock a[href*="/max_anime."].username+.userTitle:before,
.messageUserBlock a[href*="/Max-Fischer."].username+.userTitle:before,
.messageUserBlock a[href*="/MidnightRain."].username+.userTitle:before,
.messageUserBlock a[href*="/mr_chun."].username+.userTitle:before,
.messageUserBlock a[href*="/MrMVP91."].username+.userTitle:before,
.messageUserBlock a[href*="/mystery79."].username+.userTitle:before,
.messageUserBlock a[href*="/omnivus."].username+.userTitle:before,
.messageUserBlock a[href*="/Omnomnom26."].username+.userTitle:before,
.messageUserBlock a[href*="/Phantom-Pain."].username+.userTitle:before,
.messageUserBlock a[href*="/raza1495."].username+.userTitle:before,
.messageUserBlock a[href*="/red7ring."].username+.userTitle:before,
.messageUserBlock a[href*="/Rename_Card."].username+.userTitle:before,
.messageUserBlock a[href*="/rocknrollsisyphus."].username+.userTitle:before,
.messageUserBlock a[href*="/Rudypu_Candyass."].username+.userTitle:before,
.messageUserBlock a[href*="/Sagara-san."].username+.userTitle:before,
.messageUserBlock a[href*="/sdevito."].username+.userTitle:before,
.messageUserBlock a[href*="/Seattle_Mariners."].username+.userTitle:before,
.messageUserBlock a[href*="/shaneomac911."].username+.userTitle:before,
.messageUserBlock a[href*="/Shiny_Rayquaza."].username+.userTitle:before,
.messageUserBlock a[href*="/SimpsonsFan007."].username+.userTitle:before,
.messageUserBlock a[href*="/SirGarth."].username+.userTitle:before,
.messageUserBlock a[href*="/solar7."].username+.userTitle:before,
.messageUserBlock a[href*="/SolidTexture."].username+.userTitle:before,
.messageUserBlock a[href*="/solitanze."].username+.userTitle:before,
.messageUserBlock a[href*="/Some_Random_Aussie."].username+.userTitle:before,
.messageUserBlock a[href*="/StuDevo."].username+.userTitle:before,
.messageUserBlock a[href*="/Stylobean."].username+.userTitle:before,
.messageUserBlock a[href*="/Syrilrian."].username+.userTitle:before,
.messageUserBlock a[href*="/tha_villain."].username+.userTitle:before,
.messageUserBlock a[href*="/that1guy64."].username+.userTitle:before,
.messageUserBlock a[href*="/Vega_Obscura."].username+.userTitle:before,
.messageUserBlock a[href*="/Veklorr."].username+.userTitle:before,
.messageUserBlock a[href*="/ViewedJacob."].username+.userTitle:before,
.messageUserBlock a[href*="/Volvagia_slayer."].username+.userTitle:before,
.messageUserBlock a[href*="/WhySoDevious."].username+.userTitle:before,
.messageUserBlock a[href*="/XeroSyphon."].username+.userTitle:before,
.messageUserBlock a[href*="/you_shall_be_as_gods."].username+.userTitle:before,
.messageUserBlock a[href*="/Zinfandelicious."].username+.userTitle:before,
#mod-badge-content {
    content: '';
    display: block;
    width: 28px;
    height: 20px;
    background-image: url('http://oystatic.ignimgs.com/src/core/img/widgets/social/shared/profileheaderv2/badge_sprite_v2.png');
    background-position: -18px 212px;
    background-size: 120px auto;

    position: absolute;
    top: -4px;
    left: 0px;
}